@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('league-spartan-200-extra-light.woff2?v=2.220') format('woff2'),
    url('league-spartan-200-extra-light.woff?v=2.220') format('woff')
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('league-spartan-300-light.woff2?v=2.220') format('woff2'),
    url('league-spartan-300-light.woff?v=2.220') format('woff')
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('league-spartan-400-regular.woff2?v=2.220') format('woff2'),
    url('league-spartan-400-regular.woff?v=2.220') format('woff')
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('league-spartan-500-medium.woff2?v=2.220') format('woff2'),
    url('league-spartan-500-medium.woff?v=2.220') format('woff')
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('league-spartan-600-semi-bold.woff2?v=2.220') format('woff2'),
    url('league-spartan-600-semi-bold.woff?v=2.220') format('woff')
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('league-spartan-700-bold.woff2?v=2.220') format('woff2'),
    url('league-spartan-700-bold.woff?v=2.220') format('woff')
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('league-spartan-800-extra-bold.woff2?v=2.220') format('woff2'),
    url('league-spartan-800-extra-bold.woff?v=2.220') format('woff')
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('league-spartan-900-black.woff2?v=2.220') format('woff2'),
    url('league-spartan-900-black.woff?v=2.220') format('woff')
}
